.logo{
    height: 50px; 
    width: auto;
    display: block;
  }
  
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.navbar-menu{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none ;
    color: #49557e;
    font-size: 18px;
    color: rgb(154, 154, 231);
}

.navbar-menu li:hover{
    color: blueviolet;
    cursor: pointer;
}
/* .navbar li{
    cursor: pointer;
}*/
.navbar-right{
    display: flex;
    gap:40px;
    align-items: center;

}

.navbar button{
    background: transparent;
    color: rgb(154, 154, 231);
    font-size: 16px;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.3s;
}
.navbar button:hover{
    background-color:rgb(60, 137, 214);
    
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.navbar-cart-icon{
    position: relative;
}

.navbar-cart-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;

}

@media (max-width:1060px){
    .navbar.logo{
        width: 140px;

    }
    .navbar-menu{
        gap:20px;
        font-size: 17px;
    }
    .navbar-right{
        gap:30px;

    }
    .navbar-right img{
        width: 22px;
    }
    .navbar button{
        padding: 8px 25px;
    }
}
@media (max-width:900px){
    .navbar.logo{
        width: 120px;

    }
    .navbar-menu{
        gap:15px;
        font-size: 15px;
    }
    .navbar-right{
        gap:20px;
        
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar button{
        padding: 7px 20px;
    }
}
@media(max-width:800px){
    .navbar-menu{
        display: none;
    }
}